@import url("https://fonts.cdnfonts.com/css/metropolis-2");

* {
  box-sizing: border-box;
  font-family: "Metropolis", sans-serif;
}

body,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  gap: 55px;
  justify-content: center;
  align-items: center;
  padding: 98px 54px 160px 54px;
  width: 1440px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header1 {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.header2 {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
}

a {
  color: #003fb4;
  cursor: pointer;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
}

#mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#carasoule {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 14px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  color: #6f6f6f;
  font-weight: 600;
}

#cardContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
}

.card {
  width: 285px;
  padding: 36px 21px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 10px 22px #dedbdb;
  cursor: pointer;
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.post {
  font-size: 18px;
  width: 243px;
  font-weight: 600;
}

.company {
  text-align: center;
  font-size: 16px;
  color: rgba(107, 107, 107, 1);
  position: relative;
  bottom: 9px;
}

#modal {
  display: flex;
  flex-direction: column;
  padding: 36px 30px;
  max-width: 1200px;
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 10px 24px #dedbdb;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5px;
  right: 5px;
}

.closeButton {
  text-align: center;
  font-size: 24px;
  font-family: monospace;
  color: #696666;
  position: relative;
  right: 6px;
}

.speakerDetail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.speakerInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  border-right: 1px solid #b7b7b7;
  flex: 1;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  bottom: 9px;
}

.socialMedia img {
  height: 26px;
  width: 26px;
}

.socialMedia img:last-of-type {
  height: 22px;
  width: 22px;
}

.speakerDescription {
  text-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
}

#button {
  padding: 20px 66px;
  background-color: #003fb4;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
